Django==5.1.7
djangorestframework==3.15.2
psycopg2-binary==2.9.10
djangorestframework_simplejwt==5.5.0
python-dotenv==1.0.1
Faker==37.0.0
celery==5.4.0
redis==5.2.1
django-celery-beat==2.7.0
django-redis==5.4.0
channels==3.0.5
channels_redis==4.2.1
drf_yasg==1.21.10
asgiref==3.8.1